
<%
  def link_to(name, url)
      return "<a href='#{url}'>#{name}</a>"
   end
  %>

<html>
  <body>
    <h1>You're using a layout</h1>
    <p>
      <h3> I'm a header</h3>
      <p><ol>
		  <li><%= link_to('This is a link to yahoo', 'http://yahoo.com') %></li>
		  <li><a href="http://google.com">This is a link to google</a></li></p>
      <a href='me.html'>Me</a>
	  <%= @request.query.inspect %>
    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <p> <li>  <%= link_to('This is a link to yahoo created with the link_to method', 'http://yahoo.com') %></li>
		  <li><a href="http://google.com">This is a link to google</a></li></p>
    </div>
  </body>
</html>