<h1> Stephen's example page for schneems homework </h1>

<ul>
<% ["Milk", "Cookies", "coconuts"].each do |item| %>
<li> <%= "I need to get #{item} from the grocery store..." %> </li>
<% end %>
</ul>
<ul>
  <% ['apples', 'oranges', 'bananas'].each do |fruit| %>
    <li>I like to eat <%= fruit %></li>
  <% end %>
   <% x = "hello this was written in all downcase and now should be converted to a upcase string via the upcase method" %>
  <%= x.upcase %>
  <br>
  <%= 1+1 %>
  <p> Whats going on down under?""
</ul>